In [3]:
import requests

In [48]:
import os 
from PIL import Image
from IPython.display import IFrame
import json
import pandas as pd
import numpy as np

In [9]:
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=762a34294ac4e8b18e63006d12d888af"  #Make sure to change ******* to your API key.
html_data = requests.get(url)

In [11]:
html_data.status_code

200

In [12]:
print(html_data.request.headers)

{'User-Agent': 'python-requests/2.28.1', 'Accept-Encoding': 'gzip, deflate, br', 'Accept': '*/*', 'Connection': 'keep-alive'}

In [13]:
print(html_data.request.body)

None

In [14]:
html_data.headers

{'Date': 'Tue, 15 Aug 2023 07:01:59 GMT', 'Content-Type': 'application/json; Charset=UTF-8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'x-apilayer-transaction-id': '7d919627-cec4-47a7-8270-ca64030d4379', 'access-control-allow-methods': 'GET, HEAD, POST, PUT, PATCH, DELETE, OPTIONS', 'access-control-allow-origin': '*', 'x-request-time': '0.010', 'CF-Cache-Status': 'DYNAMIC', 'Report-To': '{"endpoints":[{"url":"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=LNpLgIgYbXPcpsvjMlQd9yLdh2hRofYEEfwTIIUZhA9QGZcEO5K%2Fqu1vQYlOGtvrZHhJcDm8j1wJqTREFfPYt4%2BmPqhr89XhDJlWPdBqZkUXyf2xKrS4dr7yaA4ShHWDsTE21TP6OCplJ5PbZe297E5rfbRb"}],"group":"cf-nel","max_age":604800}', 'NEL': '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}', 'Server': 'cloudflare', 'CF-RAY': '7f6f91c27ea93a87-BOM', 'Content-Encoding': 'gzip'}

In [17]:
html_data.text

'{"success":true,"timestamp":1692082863,"base":"EUR","date":"2023-08-15","rates":{"AED":4.01213,"AFN":92.2123,"ALL":104.131308,"AMD":424.616988,"ANG":1.975388,"AOA":902.794058,"ARS":382.224502,"AUD":1.682371,"AWG":1.966171,"AZN":1.919019,"BAM":1.95861,"BBD":2.213085,"BDT":119.972128,"BGN":1.958296,"BHD":0.411725,"BIF":3114.468441,"BMD":1.092317,"BND":1.48433,"BOB":7.573936,"BRL":5.422271,"BSD":1.096073,"BTC":3.7237773e-5,"BTN":90.920079,"BWP":14.861731,"BYN":2.767045,"BYR":21409.416866,"BZD":2.20929,"CAD":1.470363,"CDF":2676.176905,"CHF":0.958055,"CLF":0.034052,"CLP":939.589534,"CNY":7.92902,"COP":4412.961436,"CRC":586.552287,"CUC":1.092317,"CUP":28.946405,"CVE":110.425453,"CZK":24.068006,"DJF":195.155356,"DKK":7.451712,"DOP":62.340584,"DZD":148.397848,"EGP":33.771758,"ERN":16.384758,"ETB":60.456546,"EUR":1,"FJD":2.466397,"FKP":0.860639,"GBP":0.859304,"GEL":2.850656,"GGP":0.860639,"GHS":12.385884,"GIP":0.860639,"GMD":66.249548,"GNF":9421.517393,"GTQ":8.613516,"GYD":229.3111,"HKD":8.54304,"HNL":26.963179,"HRK":7.518201,"HTG":149.614658,"HUF":385.388064,"IDR":16755.544875,"ILS":4.093688,"IMP":0.860639,"INR":90.97965,"IQD":1435.553069,"IRR":46205.017404,"ISK":144.087488,"JEP":0.860639,"JMD":169.28598,"JOD":0.773383,"JPY":159.162083,"KES":157.12964,"KGS":96.418641,"KHR":4542.517314,"KMF":492.225411,"KPW":983.096869,"KRW":1459.619922,"KWD":0.336128,"KYD":0.913411,"KZT":493.327795,"LAK":21326.207006,"LBP":16452.254027,"LKR":352.923428,"LRD":203.444007,"LSL":21.660343,"LTL":3.225328,"LVL":0.660732,"LYD":5.255685,"MAD":10.881111,"MDL":19.26246,"MGA":4953.242635,"MKD":61.709101,"MMK":2301.702336,"MNT":3784.26493,"MOP":8.827425,"MRO":389.957048,"MUR":49.481722,"MVR":16.76711,"MWK":1189.539345,"MXN":18.653285,"MYR":5.061791,"MZN":69.089653,"NAD":21.660835,"NGN":837.148858,"NIO":40.097529,"NOK":11.437167,"NPR":145.47338,"NZD":1.826622,"OMR":0.42053,"PAB":1.096083,"PEN":4.041899,"PGK":3.982714,"PHP":62.053991,"PKR":312.105303,"PLN":4.461518,"PYG":7963.46192,"QAR":3.977153,"RON":4.940097,"RSD":117.285362,"RUB":104.163403,"RWF":1296.684142,"SAR":4.098153,"SBD":9.141974,"SCR":14.723338,"SDG":656.697088,"SEK":11.806998,"SGD":1.481166,"SHP":1.329077,"SLE":23.87113,"SLL":21573.26452,"SOS":620.990173,"SSP":656.482803,"SRD":41.787659,"STD":22608.760393,"SYP":14309.272633,"SZL":20.810238,"THB":38.598666,"TJS":12.029104,"TMT":3.834033,"TND":3.374441,"TOP":2.599988,"TRY":29.556781,"TTD":7.434599,"TWD":34.833235,"TZS":2736.255687,"UAH":40.482694,"UGX":4071.87935,"USD":1.092317,"UYU":41.439835,"UZS":13221.089814,"VEF":3373600.019466,"VES":32.826453,"VND":26139.150286,"VUV":131.81254,"WST":3.01257,"XAF":656.911523,"XAG":0.048365,"XAU":0.000574,"XCD":2.952042,"XDR":0.820099,"XOF":656.899477,"XPF":119.663068,"YER":273.4616,"ZAR":20.839063,"ZMK":9832.16454,"ZMW":21.153543,"ZWL":351.725689}}'

In [37]:
data = json.loads(html_data.text)
data

{'success': True,
 'timestamp': 1692082863,
 'base': 'EUR',
 'date': '2023-08-15',
 'rates': {'AED': 4.01213,
  'AFN': 92.2123,
  'ALL': 104.131308,
  'AMD': 424.616988,
  'ANG': 1.975388,
  'AOA': 902.794058,
  'ARS': 382.224502,
  'AUD': 1.682371,
  'AWG': 1.966171,
  'AZN': 1.919019,
  'BAM': 1.95861,
  'BBD': 2.213085,
  'BDT': 119.972128,
  'BGN': 1.958296,
  'BHD': 0.411725,
  'BIF': 3114.468441,
  'BMD': 1.092317,
  'BND': 1.48433,
  'BOB': 7.573936,
  'BRL': 5.422271,
  'BSD': 1.096073,
  'BTC': 3.7237773e-05,
  'BTN': 90.920079,
  'BWP': 14.861731,
  'BYN': 2.767045,
  'BYR': 21409.416866,
  'BZD': 2.20929,
  'CAD': 1.470363,
  'CDF': 2676.176905,
  'CHF': 0.958055,
  'CLF': 0.034052,
  'CLP': 939.589534,
  'CNY': 7.92902,
  'COP': 4412.961436,
  'CRC': 586.552287,
  'CUC': 1.092317,
  'CUP': 28.946405,
  'CVE': 110.425453,
  'CZK': 24.068006,
  'DJF': 195.155356,
  'DKK': 7.451712,
  'DOP': 62.340584,
  'DZD': 148.397848,
  'EGP': 33.771758,
  'ERN': 16.384758,
  'ETB': 60.456546,
  'EUR': 1,
  'FJD': 2.466397,
  'FKP': 0.860639,
  'GBP': 0.859304,
  'GEL': 2.850656,
  'GGP': 0.860639,
  'GHS': 12.385884,
  'GIP': 0.860639,
  'GMD': 66.249548,
  'GNF': 9421.517393,
  'GTQ': 8.613516,
  'GYD': 229.3111,
  'HKD': 8.54304,
  'HNL': 26.963179,
  'HRK': 7.518201,
  'HTG': 149.614658,
  'HUF': 385.388064,
  'IDR': 16755.544875,
  'ILS': 4.093688,
  'IMP': 0.860639,
  'INR': 90.97965,
  'IQD': 1435.553069,
  'IRR': 46205.017404,
  'ISK': 144.087488,
  'JEP': 0.860639,
  'JMD': 169.28598,
  'JOD': 0.773383,
  'JPY': 159.162083,
  'KES': 157.12964,
  'KGS': 96.418641,
  'KHR': 4542.517314,
  'KMF': 492.225411,
  'KPW': 983.096869,
  'KRW': 1459.619922,
  'KWD': 0.336128,
  'KYD': 0.913411,
  'KZT': 493.327795,
  'LAK': 21326.207006,
  'LBP': 16452.254027,
  'LKR': 352.923428,
  'LRD': 203.444007,
  'LSL': 21.660343,
  'LTL': 3.225328,
  'LVL': 0.660732,
  'LYD': 5.255685,
  'MAD': 10.881111,
  'MDL': 19.26246,
  'MGA': 4953.242635,
  'MKD': 61.709101,
  'MMK': 2301.702336,
  'MNT': 3784.26493,
  'MOP': 8.827425,
  'MRO': 389.957048,
  'MUR': 49.481722,
  'MVR': 16.76711,
  'MWK': 1189.539345,
  'MXN': 18.653285,
  'MYR': 5.061791,
  'MZN': 69.089653,
  'NAD': 21.660835,
  'NGN': 837.148858,
  'NIO': 40.097529,
  'NOK': 11.437167,
  'NPR': 145.47338,
  'NZD': 1.826622,
  'OMR': 0.42053,
  'PAB': 1.096083,
  'PEN': 4.041899,
  'PGK': 3.982714,
  'PHP': 62.053991,
  'PKR': 312.105303,
  'PLN': 4.461518,
  'PYG': 7963.46192,
  'QAR': 3.977153,
  'RON': 4.940097,
  'RSD': 117.285362,
  'RUB': 104.163403,
  'RWF': 1296.684142,
  'SAR': 4.098153,
  'SBD': 9.141974,
  'SCR': 14.723338,
  'SDG': 656.697088,
  'SEK': 11.806998,
  'SGD': 1.481166,
  'SHP': 1.329077,
  'SLE': 23.87113,
  'SLL': 21573.26452,
  'SOS': 620.990173,
  'SSP': 656.482803,
  'SRD': 41.787659,
  'STD': 22608.760393,
  'SYP': 14309.272633,
  'SZL': 20.810238,
  'THB': 38.598666,
  'TJS': 12.029104,
  'TMT': 3.834033,
  'TND': 3.374441,
  'TOP': 2.599988,
  'TRY': 29.556781,
  'TTD': 7.434599,
  'TWD': 34.833235,
  'TZS': 2736.255687,
  'UAH': 40.482694,
  'UGX': 4071.87935,
  'USD': 1.092317,
  'UYU': 41.439835,
  'UZS': 13221.089814,
  'VEF': 3373600.019466,
  'VES': 32.826453,
  'VND': 26139.150286,
  'VUV': 131.81254,
  'WST': 3.01257,
  'XAF': 656.911523,
  'XAG': 0.048365,
  'XAU': 0.000574,
  'XCD': 2.952042,
  'XDR': 0.820099,
  'XOF': 656.899477,
  'XPF': 119.663068,
  'YER': 273.4616,
  'ZAR': 20.839063,
  'ZMK': 9832.16454,
  'ZMW': 21.153543,
  'ZWL': 351.725689}}

In [42]:
dataframe = pd.DataFrame(data)
dataframe

     success   timestamp base        date        rates
AED     True  1692082863  EUR  2023-08-15     4.012130
AFN     True  1692082863  EUR  2023-08-15    92.212300
ALL     True  1692082863  EUR  2023-08-15   104.131308
AMD     True  1692082863  EUR  2023-08-15   424.616988
ANG     True  1692082863  EUR  2023-08-15     1.975388
..       ...         ...  ...         ...          ...
YER     True  1692082863  EUR  2023-08-15   273.461600
ZAR     True  1692082863  EUR  2023-08-15    20.839063
ZMK     True  1692082863  EUR  2023-08-15  9832.164540
ZMW     True  1692082863  EUR  2023-08-15    21.153543
ZWL     True  1692082863  EUR  2023-08-15   351.725689

[170 rows x 5 columns]

In [43]:
final_df = dataframe.drop(columns = {'success','timestamp', 'base', 'date'})
final_df

           rates
AED     4.012130
AFN    92.212300
ALL   104.131308
AMD   424.616988
ANG     1.975388
..           ...
YER   273.461600
ZAR    20.839063
ZMK  9832.164540
ZMW    21.153543
ZWL   351.725689

[170 rows x 1 columns]

In [55]:
a = final_df.sort_values(by='rates', ascending = False)
a

            rates
VEF  3.373600e+06
IRR  4.620502e+04
VND  2.613915e+04
STD  2.260876e+04
SLL  2.157326e+04
..            ...
KWD  3.361280e-01
XAG  4.836500e-02
CLF  3.405200e-02
XAU  5.740000e-04
BTC  3.723777e-05

[170 rows x 1 columns]